@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html {
    font-family: 'Lilita One', cursive;
    height: 100%;
    width: 100%;
    background-color: #2A363B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    height: 100%;
    width: 750px;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: auto;
}

header {
    font-size: x-large;
    text-align: center;
}

main {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.player {
    font-size: x-large;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 10px;
}

.tile {
    background-color: #FF847C;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 500%;
    box-shadow: 0 4px 0 #E84A5F, 0 6px 6px #9d9d9d;
}

/* Add classes through DOM click event */
.x, .o {
    pointer-events: none;
    box-shadow: 0 1px 0 #d44256, 0 2px 2px #888888;
    transform: translateY(4px);
}

#reset-board {
    font-family: 'Lilita One', cursive;
    font-size: larger;
    color: white;
    background-color: #99B898;
    border-radius: 20px;
    border: none;
    justify-self: center;
    box-shadow: 0 4px 0 #FECEAB, 0 6px 8px #9d9d9d;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    grid-column: 1 / span 3;
}

#clear-score {
    font-family: 'Lilita One', cursive;
    font-size: larger;
    color: white;
    background-color: #99B898;
    border-radius: 20px;
    border: none;
    justify-self: center;
    box-shadow: 0 4px 0 #FECEAB, 0 6px 8px #9d9d9d;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    grid-column: 1 / span 3;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a {
    color: white;
}

/* Restrict hover for desktop media */
@media(hover: hover) {
    .tile:hover {
        background-color: #FECEAB;
        transform: translateY(-6px);
        cursor: pointer;
        box-shadow: 0 8px 0 #E84A5F, 0 8px 8px #9d9d9d;
    }

    #reset-board:hover {
        background-color: #FECEAB;
        transform: translateY(-6px);
        cursor: pointer;
        box-shadow: 0 8px 0 #E84A5F, 0 8px 8px #9d9d9d;
    }

    #clear-score:hover {
        background-color: #FECEAB;
        transform: translateY(-6px);
        cursor: pointer;
        box-shadow: 0 8px 0 #E84A5F, 0 8px 8px #9d9d9d;
    }
}

#reset-board:active {
    background-color: #FECEAB;
    box-shadow: 0 1px 0 #E84A5F, 0 2px 2px #9d9d9d;
    transform: translateY(4px);
}

#clear-score:active {
    background-color: #FECEAB;
    box-shadow: 0 1px 0 #E84A5F, 0 2px 2px #9d9d9d;
    transform: translateY(4px);
}

/* Response from small to large mobile devices */
@media screen and (max-width: 425px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 80px ;
        /* justify-content: center; */
        /* justify-items: center; */
    }

    #board {
        justify-self: center;
        grid-column: 1 / span 2;
    }

    .player {
        height: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr;
        text-align: center;
    }
    
    #first-player {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

    #first-player>.name {
        grid-column: 1 / span 3;
    }

    #second-player {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    #second-player>.name {
        grid-column: 1 / span 3;
    }
  }