@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html {
    font-family: 'Lilita One', cursive;
    height: 100%;
    width: 100%;
    background-color: #2A363B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    height: 100%;
    width: 750px;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: auto;
}

header {
    font-size: x-large;
    text-align: center;
}

main {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.player {
    font-size: x-large;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 10px;
}

.tile {
    background-color: #FF847C;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 500%;
    box-shadow: 0 4px 0 #E84A5F, 0 6px 6px #9d9d9d;
}

.tile:hover {
    background-color: #FECEAB;
    transform: translateY(-6px);
    cursor: pointer;
    box-shadow: 0 8px 0 #E84A5F, 0 8px 8px #9d9d9d;
}

.x, .o {
    pointer-events: none;
    box-shadow: 0 1px 0 #d44256, 0 2px 2px #888888;
    transform: translateY(4px);
}

#reset-board {
    font-family: 'Lilita One', cursive;
    font-size: larger;
    color: white;
    background-color: #99B898;
    border-radius: 20px;
    border: none;
    justify-self: center;
    box-shadow: 0 4px 0 #FECEAB, 0 6px 8px #9d9d9d;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    grid-column: 1 / span 3;
}

#reset-board:hover {
    background-color: #FECEAB;
    transform: translateY(-6px);
    cursor: pointer;
    box-shadow: 0 8px 0 #E84A5F, 0 8px 8px #9d9d9d;
}

#reset-board:active {
    background-color: #FECEAB;
    transform: translateY(-6px);
    cursor: pointer;
    box-shadow: 0 1px 0 #E84A5F, 0 2px 2px #9d9d9d;
    transform: translateY(4px);
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a {
    color: white;
}